body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

.header_div {
    background-color: orange;
    color: red;
}

.header_div p{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
}

.main_div button{
    margin-top: 30px;
    font-weight: bolder;
    letter-spacing: 3px;
    width: 130px;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    background-color: rgb(192, 39, 39);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(200, 212, 23);
}